  version: "3.8"

  services:
    app:
      container_name: backend
      build:
        context: .
        dockerfile: Dockerfile
      image: backend:develop
      ports:
        - ${HTTP_PORT:-880}:8080
      volumes:
        - ./src:/app/src
      depends_on:
        - db
        - mongodb
      environment:
        - SPRING_PROFILE=dev

    db:
      image: mysql:8.4
      container_name: db
      platform: linux/amd64
      environment:
        MYSQL_USER: ${DB_USER:-artrip}
        MYSQL_ROOT_PASSWORD: "artrip1!"
        MYSQL_DATABASE: ${DB:-artrip}
        MYSQL_PASSWORD: ${DB_PASSWORD:-artrip1!}
      ports:
        - ${DB_PORT:-33068}:3306
      volumes:
        - ./db/data:/var/lib/mysql
        - ./db/conf:/etc/mysql/conf.d

    mongodb:
      image: mongo:6.0
      container_name: mongodb
      restart: always
      ports:
        - "27017:27017"
      volumes:
        - ./mongodb/data:/data/db
      environment:
        - MONGO_INITDB_ROOT_USERNAME=root
        - MONGO_INITDB_ROOT_PASSWORD=artrip1!




