version: "3.8"

services:
  app:
    container_name: backend
    build:
      context: .
      target: develop
    image: artrip-backend:latest
    ports:
      - ${HTTP_PORT:-880}:8080
      - "35729:35729"
    volumes:
      - ./src:/app/src
      - ./build:/app/build
      - gradle-cache:/home/gradle/.gradle
    depends_on:
      elasticsearch:
        condition: service_healthy
      db:
        condition: service_started
      redis:
        condition: service_started
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
      - SPRING_DEVTOOLS_LIVERELOAD_ENABLED=true
    env_file:
      - .env

  db:
    image: mysql:8.4
    container_name: db
    platform: linux/amd64
    environment:
      MYSQL_USER: artrip
      MYSQL_ROOT_PASSWORD: artrip1!
      MYSQL_DATABASE: artrip
      MYSQL_PASSWORD: artrip1!
    ports:
      - "33069:3306"
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/conf:/etc/mysql/conf.d

  redis:
    image: redis:7.2
    container_name: redis
    restart: always
    ports:
      - "63799:6379"
    volumes:
      - redis-data:/data

  elasticsearch:
    image: elasticsearch:8.11.0
    container_name: elastic
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "${ELASTICSEARCH_PORT:-9200}:9200"
      - "${ELASTICSEARCH_TRANSPORT_PORT:-9300}:9300"
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  redis-data:
  gradle-cache: