version: "3.8"

services:
  db:
    image: mysql:8.4
    container_name: db
    platform: linux/amd64
    environment:
      MYSQL_USER: artrip
      MYSQL_ROOT_PASSWORD: artrip1!
      MYSQL_DATABASE: artrip
      MYSQL_PASSWORD: artrip1!
    ports:
      - "33069:3306"
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/conf:/etc/mysql/conf.d

  redis:
    image: redis:7.2
    container_name: redis
    restart: always
    ports:
      - "63799:6379"
    volumes:
      - redis-data:/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elastic
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9200/_cluster/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s


volumes:
  redis-data: