spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  security:
    oauth2:
      client:
        registration:
          kakao:
            redirect-uri: https://dev.artrip.com/login/oauth2/code/kakao
          google:
            redirect-uri: https://dev.artrip.com/login/oauth2/code/google

logging:
  level:
    root: INFO
    org.atdev.artrip: INFO