####### application-dev.yml $$$$$$$

spring:
  datasource:
    url: jdbc:mysql://coffit.today:5556/art_dev?serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
    username: artrip
    password: tofhdnstlwkr1!
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-authentication-method: client_secret_post
            client-id: f80344fd008506446b25e25d65e7deac
            client-secret: 2oNUzX1v1v1SqCA3WwoHn1h0bFQCUY7S
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope: profile_nickname
            client-name: Kakao
          google:
            client-id: 1012469141909-v4gbelfdl0ot7m3ukmgo6rjhjod3jd5u.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email
            client-name: Google
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  data:
    elasticsearch:
      repositories:
        enabled: true
    redis:
      host: redis
      port: 6379

  elasticsearch:
    uris: http://elasticsearch:9200

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    org.atdev.artrip: DEBUG